{% extends 'AppBundle::layout_main_page.html.twig' %}
{% block main_news %}
<section class="section-404">
    <div class="container">
        <div class="icon-404">Error</div>
        <div class="title-404">Что то пошло не так :`(</div>
        <div class="description-404">
            Произошла неизвестная ошибка.
            <br> Сейчас вы можете воспользоваться поиском или почитать интересную информацию в блоке ниже.
        </div>
        <div class="icon-404-after">^</div>
    </div>
</section>
{% endblock %}