{% extends 'AppBundle::layout_main_page.html.twig' %}
{% block main_news %}
<section class="section-404">
    <div class="container">
        <div class="icon-404">404</div>
        <div class="title-404">Такая страница не найдена :`(</div>
        <div class="description-404">
            Возможно, она была удалена, а, может, никогда и не существовала.
            <br> В любом случае, нам с вами ее не видать.
            <br> Воспользуйтесь поиском, или поищите нужную информацию в блоках ниже.
        </div>
        <div class="icon-404-after">^</div>
    </div>
</section>
{% endblock %}