{% extends 'AppBundle::layout.html.twig' %}
{% block main_content %}
    <main>

        <section class="section-banner">
            <div class="container">
                <div class="banner">
                    <div class="title"><img src="{{ asset('white_design_2/img/vape-baner/banner-title.png') }}"></div>
                    <div class="menu">Наборы  •  Моды  •  Баки  •  Жидкости  •  Комплектующие  •  Акксессуары</div>
                    <div class="description">Не пропустите открытие нового интернет магазина! <br>Подарки при предзаказе!</div><a target="_blank" href="http://promo.vapers-dreams.ru" class="btn readmore"><span>Узнай больше</span></a>
                    <div class="vk"><a target="_blank" href="https://vk.com/vapers_dreams"><span class="icon fa fa-vk"></span> <span>Заходи в нашу группу вконтакте</span></a></div>
                </div>
            </div>
        </section>
        {% block main_news %}
        {% endblock %}

        {% block seo_block %}
        {% endblock %}

        {{ render(controller(
        'AppBundle:Default:popularNews'
        )) }}

    </main>
{% endblock %}