{% extends 'AppBundle::layout_main_page.html.twig' %}
{% block main_news %}
    <section class="section-about section-content">
        <div class="container">
            <div class="page-icon fa fa-hand-spock-o"></div>
            <h1 class="page-title">О портале <span>Dish</span><span>Alt</span></h1>
            <div class="page-description">
                <p>Портал является новостным агрегатором по Алтайскому краю. Мы собираем свежие новости из разных групп соц-сети "вконтакте", и размещаем их в одном месте в удобной форме.</p>
                <p>Вы можете видеть новости всех групп, или же выбрать только те группы, которые вам больше всего нравятся. Кроме того, вы можете предложить нам свой источник и мы рассмотрим возможность его добавления в список.</p>
                <p>Вы могли заметить возможность выбора города в шапке сайта. К сожалению, эта функция еще в разработке, поэтому врмеменно открывает список групп. В будущем, при выборе города, вам будут показаны новости групп только выбранного города.</p>
                <p>На данный момент наш проект активно развивается, и вы можете поучаствовать в его развитии предложив нам свои идеи. Так же вы можете помочь нам денежками, ведь за хостинг, домен и еду приходится платить, а без всего этого мы не сможем развивать наш проект :(</p>
            </div>
        </div>
    </section>
{% endblock %}